@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  border-radius: 5%;
  box-shadow: 10px 7px 5px rgb(119, 119, 119);
}

a:hover {
  color: black;
}

.head {
  /* color: #6127dc; */
  /* background: -webkit-linear-gradient(
    103.22deg,
    #7b0bf3 -13.86%,
    #ce6c38 99.55%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
