@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.brand-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 5%;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1610969524113-bae462bb3892?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGF0aGxldGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.container{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

*:focus{
    outline: none;
}

.form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}


input,
.submit-btn {
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color: #fff;
}

input:focus,
.submit-btn:hover{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.link {
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: block; 
    margin: 30px auto;
}

.link:hover{
    color: #fff;

}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
} */